.button {
  display: inline-block;
  font-weight: 500;
  background: var(--color-light);
  padding: 0.5em 1em;
  border-radius: var(--radius-normal);
  text-decoration: none;
  font-weight: bold;
  color: var(--color-dark);
  transition: 0.4s all cubic-bezier(0.28, 0.84, 0.42, 1);
  appearance: none;
  border: none;
}

.button:after {
  content: '\A0\A0\2192';
  display: inline-block;
  font-weight: 400;
  transform-origin: center;
}

.button:hover {
  background: var(--color-dark-elevated);
  color: var(--color-light);
}