ul.vertical-list {
  margin-bottom: 2rem;
}

.vertical-list > li > a {
  font-weight: bold;
}

.vertical-list li ul {
  list-style-type: none;
  padding: 0;
  margin: 0.25rem 0 2rem;
  color: var(--color-mid-grey);
}

.vertical-list li a {
  display: inline-block;
  margin: 0.5em 0;
  text-decoration: none;
  line-height: 1;
}

.vertical-list li.active > a {
  text-decoration: underline;
}
