---
layout: layouts/default.njk
---

{% if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent %}
<nav class="[ breadcrumbs ] [ bg-dark-background ]" aria-labelledby="breadcrumb">
  <div class="wrapper">
    <h2 class="visually-hidden" id="breadcrumb">Breadcrumbs:</h2>
    {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
    <ul class="horizontal-list">
      {% for entry in navPages %}
        <li{% if entry.url == page.url %} class="active"{% endif %}>
          <a href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
      {% endfor %}
      <li><a href="{{ page.url }}" class="active">{{ title }}</a></li>
    </ul>
  </div>
</nav>
{% endif %}

<section class="pt-700 pb-700">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content-wrapper__sidebar">
      {%- if eleventyNavigation -%}
        {%- set navKey = eleventyNavigation.key -%}
      {%- endif -%}
      {{ collections.all | eleventyNavigation("Home") | eleventyNavigationToHtml({ activeKey: navKey, listClass: 'vertical-list', activeListItemClass: 'active' }) | safe }}
      </div>
      <main class="content-wrapper__main">
        {{ content | safe }}
      </main>
    </div>
  </div>
</section>