.site-header {
  position: relative;
  z-index: 10;
  color: var(--color-light);
}

.site-header__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.site-header__logo {
  flex-shrink: 0;
  margin: 1rem var(--size-900) 1rem 0;
}

.site-header__logo svg {
  width: 100%;
  max-width: 8rem;
}

.site-header__navigation {
  flex: 1;
  min-width: 18rem;
}

ul.site-header__summary {
  margin-left: auto;
}

@media (min-width: 64em) {
  .site-header__summary {
    order: 2;
  }
}

.site-header__summary svg,
.site-header__summary img {
  display: block;
  height: 1.5rem;
}
