.site-header {
  position: relative;
  padding: 1.5rem 0;
  z-index: 10;
  color: var(--color-light);
}

.site-header__inner {
  display: flex;
  align-items: center;
}

.site-header__logo {
  margin-right: var(--size-900);
}

.site-header__logo svg {
  width: 100%;
  max-width: 8rem;
}

.site-header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.site-header__navigation svg,
.site-header__navigation img {
  display: block;
  height: 1.5rem;
}
