.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 10;
  color: var(--color-light);
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo svg {
  width: 100%;
  max-width: 8rem;
}

.site-header__navigation svg,
.site-header__navigation img {
  display: block;
  height: 1.5rem;
}
