body {
  font-family: var(--font-base);
  font-size: var(--step--1);
  color: var(--color-light);
  font-weight: var(--weight-light);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  margin-top: 0;
  margin-bottom: var(--size-300);
  line-height: 1.125;
}

h1 {
  font-size: var(--text-900);
}

h2 {
  font-size: var(--text-800);
}

h3 {
  font-size: var(--text-700);
}

h4 {
  font-size: var(--text-600);
}

h5 {
  font-size: var(--text-500);
}

p,
ul,
ol {
  margin-bottom: 2rem;
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: var(--text-400);
  margin-bottom: 0.5rem;
}

a {
  color: currentColor;
}

.link {
  display: inline-block;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid currentColor;
  text-decoration: none;
}

.split-pair h2:last-child,
.split-pair p:last-child {
  margin: 0;
}
