---
title: Home
---

<section class="pad-top-900 pad-bottom-900">
  <div class="[ wrapper ] [ text-align-center ]">
    <div class="measure-long">
      <h1>A truly versatile CSS toolkit.</h1>
      <p>Made with ❤️ for HTML & CSS programmers</p>
    </div>

    {% oswindow %}
      {% highlight "css" %}
        {{ "utility/css/breakout-button.css" | blyth | safe }}
      {% endhighlight %}
    {% endoswindow %}
  </div>
</section>

<script src="js/vendor/typewriter.js" defer></script>
<script src="js/components/intro.js" defer></script>