---
title: A CSS Toolkit
metaDesc: Blyth's kingfisher (Alcedo hercules) is the largest kingfisher in the genus Alcedo. Named for Edward Blyth, the species has also been known as Alcedo grandis and as the great blue kingfisher.
eleventyNavigation:
  key: Why
---

<section class="pt-900">
  <div class="[ wrapper ] [ max-w-prose text-center ]">
    <h1>Why Blyth?</h1>
    <p>Blyth's kingfisher (Alcedo hercules) is the largest kingfisher in the genus Alcedo. Named for Edward Blyth, the species has also been known as Alcedo grandis and as the great blue kingfisher. No, but seriously, here's why Blyth is pretty awesome:</p>
  </div>
</section>

<section class="pt-900">
  <div class="wrapper">
    <ul class="[ grid ] [ lg:grid-cols-3 ]">
      <li>
        <h2 class="text-400">Native</h2>
        <p>Blyth just takes your config file, and outputs native CSS to a folder of your choice.</p>
      </li>
      <li>
        <h2 class="text-400">Versatile</h2>
        <p>Blyth will slot right into your build and deployment process, as it's just CSS files.</p>
      </li>
      <li>
        <h2 class="text-400">Handy</h2>
        <p>With the CLI available across all your projects, no matter your project setup, it'll be consistent.</p>
      </li>
      <li>
        <h2 class="text-400">Scalable</h2>
        <p>Blyth can grow with you. Using design tokens, it promotes reusable, scalable and clean code.</p>
      </li>
      <li>
        <h2 class="text-400">Flexible</h2>
        <p>With CSS vars and classes, it'll work for any coding methodology, from utility-first to BEM.</p>
      </li>
      <li>
        <h2 class="text-400">Lightweight</h2>
        <p>No post-processing required to remove classes for size reduction. You're in control of your code.</p>
      </li>
    </ul>

    <div class="bg-dark-elevated p-400 radius-normal text-center gap-top-800">
      <h2>Get started</h2>
      <a href="/docs/" class="button">Read our docs</a>
    </div>
  </div>
</section>

<section class="pt-900">
  <div class="[ wrapper ] [ max-w-prose text-center ]">
    <p>This project was born out of a personal need. As a <a href="https://ryangittings.co.uk">freelance web designer</a>, I wanted to keep code reusable, consistent and documented. Blyth finally documents and shares code right across my projects with zero limitations and full control.</p>
  </div>
</section>