---
title: A CSS Toolkit
eleventyNavigation:
  key: Why
---

<section class="pad-top-900">
  <div class="[ wrapper ] [ text-align-center ]">
    <div class="measure-long">
      <h1>Why Blyth?</h1>
    </div>
  </div>
</section>

<section class="pad-top-900">
  <div class="wrapper">
    <ul class="auto-grid">
      <li>
        <h2 class="text-400">Native</h2>
        <p>Blyth just takes your config file, and outputs native CSS to a folder of your choice.</p>
      </li>
      <li>
        <h2 class="text-400">Versatile</h2>
        <p>Blyth will slot right into your build and deployment process, as it's just CSS files.</p>
      </li>
      <li>
        <h2 class="text-400">Handy</h2>
        <p>With the CLI available across all your projects, no matter your project setup, it'll be consistent.</p>
      </li>
      <li>
        <h2 class="text-400">Scalable</h2>
        <p>Blyth can grow with you. Using design tokens, it promotes reusable, scalable and clean code.</p>
      </li>
      <li>
        <h2 class="text-400">Flexible</h2>
        <p>With CSS vars and classes, it'll work for any coding methodology, from utility-first to BEM.</p>
      </li>
      <li>
        <h2 class="text-400">Lightweight</h2>
        <p>No post-processing required to remove classes for size reduction. You're in control of your code.</p>
      </li>
    </ul>

    <div class="bg-dark-elevated pad-400 radius-normal text-align-center gap-top-800">
      <h2>Get started</h2>
      <a href="/docs/" class="button">Read our docs</a>
    </div>
  </div>
</section>